.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #6a8372;
  border-color: #fff;
}

.page-item .page-link{
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}